

<!DOCTYPE html>
<html>
    <head>
        <style>
            img.checked{
                opacity: 0.5;
            }
        </style>
    </head>
    <body>


        <!--미검토 시위 notchecked 최신순 4개-->
        <div class="card-collection">
            <div class="row category">
                <div class="col s10"><h5 class="main-category" style="font-size:20px;">미검토 시위</h5></div>
                <div class="col s2 right-align"><a href="/valueplus/notchecked" class="category-more" style="font-size:15px;">더보기</a></div>
            </div>
            
            <div class="container">
                <div class="row">
                    <!--반복 부분-->
                    <div class="col s3 m3 l3">
                        <div class="card">
                          <img src="http://www.gatoblanco.co.kr/m2/board/download.php?id=cat&no=89&div=0" style="width:100%">
                            <div class="card-typo">
                                <h4 class="card-title" style="font-size:18px; font-weight:bold;">John Doe</h4>
                                <p class="card-subtitle" style="font-size:13px;">정치 | 주최자</p>
                                <div class="progress red lighten-4">
                                  <div class="determinate red" style="width: 70%"></div>
                                </div>
                                <div class="row">
                                    <div class="col s4"><p class="card-text left-align" style="font-size:13px;">09/30</p></div>
                                    <div class="col s8 right-align"><p class="card-money" style="font-size:13px;">801,000원</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col s3 m3 l3">
                        <div class="card">
                          <img src="http://www.gatoblanco.co.kr/m2/board/download.php?id=cat&no=89&div=0" style="width:100%">
                            <div class="card-typo">
                                <h4 class="card-title" style="font-size:18px; font-weight:bold;">John Doe</h4>
                                <p class="card-subtitle" style="font-size:13px;">정치 | 주최자</p>
                                <div class="progress red lighten-4">
                                  <div class="determinate red" style="width: 70%"></div>
                                </div>
                                <div class="row">
                                    <div class="col s4"><p class="card-text left-align" style="font-size:13px;">09/30</p></div>
                                    <div class="col s8 right-align"><p class="card-money" style="font-size:13px;">801,000원</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col s3 m3 l3">
                        <div class="card">
                          <img src="http://www.gatoblanco.co.kr/m2/board/download.php?id=cat&no=89&div=0" style="width:100%">
                            <div class="card-typo">
                                <h4 class="card-title" style="font-size:18px; font-weight:bold;">John Doe</h4>
                                <p class="card-subtitle" style="font-size:13px;">정치 | 주최자</p>
                                <div class="progress red lighten-4">
                                  <div class="determinate red" style="width: 70%"></div>
                                </div>
                                <div class="row">
                                    <div class="col s4"><p class="card-text left-align" style="font-size:13px;">09/30</p></div>
                                    <div class="col s8 right-align"><p class="card-money" style="font-size:13px;">801,000원</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col s3 m3 l3">
                        <div class="card">
                          <img src="http://www.gatoblanco.co.kr/m2/board/download.php?id=cat&no=89&div=0" style="width:100%">
                            <div class="card-typo">
                                <h4 class="card-title" style="font-size:18px; font-weight:bold;">John Doe</h4>
                                <p class="card-subtitle" style="font-size:13px;">정치 | 주최자</p>
                                <div class="progress red lighten-4">
                                  <div class="determinate red" style="width: 70%"></div>
                                </div>
                                <div class="row">
                                    <div class="col s4"><p class="card-text left-align" style="font-size:13px;">09/30</p></div>
                                    <div class="col s8 right-align"><p class="card-money" style="font-size:13px;">801,000원</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        

        <!--검토승인 시위 checked_yes 최신순 4개-->
        <div class="card-collection">
            <div class="row category">
                <div class="col s10"><h5 class="main-category" style="font-size:20px;">검토승인 시위</h5></div>
                <div class="col s2 right-align"><a href="/valueplus/checked_yes" class="category-more" style="font-size:15px;">더보기</a></div>
            </div>
            
            <div class="container">
                <div class="row">
                    <!--반복 부분-->
                    <div class="col s3 m3 l3">
                        <div class="card">
                          <img class="checked" src="http://www.gatoblanco.co.kr/m2/board/download.php?id=cat&no=89&div=0" style="width:100%">
                            <div class="card-typo">
                                <h4 class="card-title" style="font-size:18px; font-weight:bold;">John Doe</h4>
                                <p class="card-subtitle" style="font-size:13px;">정치 | 주최자</p>
                                <div class="progress red lighten-4">
                                  <div class="determinate red" style="width: 70%"></div>
                                </div>
                                <div class="row">
                                    <div class="col s4"><p class="card-text left-align" style="font-size:13px;">09/30</p></div>
                                    <div class="col s8 right-align"><p class="card-money" style="font-size:13px;">801,000원</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col s3 m3 l3">
                        <div class="card yes">
                          <img class="checked" src="http://www.gatoblanco.co.kr/m2/board/download.php?id=cat&no=89&div=0" style="width:100%">
                            <div class="card-typo">
                                <h4 class="card-title" style="font-size:18px; font-weight:bold;">John Doe</h4>
                                <p class="card-subtitle" style="font-size:13px;">정치 | 주최자</p>
                                <div class="progress red lighten-4">
                                  <div class="determinate red" style="width: 70%"></div>
                                </div>
                                <div class="row">
                                    <div class="col s4"><p class="card-text left-align" style="font-size:13px;">09/30</p></div>
                                    <div class="col s8 right-align"><p class="card-money" style="font-size:13px;">801,000원</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col s3 m3 l3">
                        <div class="card">
                          <img class="checked" src="http://www.gatoblanco.co.kr/m2/board/download.php?id=cat&no=89&div=0" style="width:100%">
                            <div class="card-typo">
                                <h4 class="card-title" style="font-size:18px; font-weight:bold;">John Doe</h4>
                                <p class="card-subtitle" style="font-size:13px;">정치 | 주최자</p>
                                <div class="progress red lighten-4">
                                  <div class="determinate red" style="width: 70%"></div>
                                </div>
                                <div class="row">
                                    <div class="col s4"><p class="card-text left-align" style="font-size:13px;">09/30</p></div>
                                    <div class="col s8 right-align"><p class="card-money" style="font-size:13px;">801,000원</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col s3 m3 l3">
                        <div class="card">
                          <img class="checked" src="http://www.gatoblanco.co.kr/m2/board/download.php?id=cat&no=89&div=0" style="width:100%">
                            <div class="card-typo">
                                <h4 class="card-title" style="font-size:18px; font-weight:bold;">John Doe</h4>
                                <p class="card-subtitle" style="font-size:13px;">정치 | 주최자</p>
                                <div class="progress red lighten-4">
                                  <div class="determinate red" style="width: 70%"></div>
                                </div>
                                <div class="row">
                                    <div class="col s4"><p class="card-text left-align" style="font-size:13px;">09/30</p></div>
                                    <div class="col s8 right-align"><p class="card-money" style="font-size:13px;">801,000원</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        
        <!--검토거부 시위 checked_no 최신순 4개-->
        <div class="card-collection">
            <div class="row category">
                <div class="col s10"><h5 class="main-category" style="font-size:20px;">검토거부 시위</h5></div>
                <div class="col s2 right-align"><a href="/valueplus/checked_no" class="category-more" style="font-size:15px;">더보기</a></div>
            </div>
            
            <div class="container">
                <div class="row">
                    <!--반복 부분-->
                    <div class="col s3 m3 l3">
                        <div class="card">
                          <img class="checked" src="http://www.gatoblanco.co.kr/m2/board/download.php?id=cat&no=89&div=0" style="width:100%">
                            <div class="card-typo">
                                <h4 class="card-title" style="font-size:18px; font-weight:bold;">John Doe</h4>
                                <p class="card-subtitle" style="font-size:13px;">정치 | 주최자</p>
                                <div class="progress red lighten-4">
                                  <div class="determinate red" style="width: 70%"></div>
                                </div>
                                <div class="row">
                                    <div class="col s4"><p class="card-text left-align" style="font-size:13px;">09/30</p></div>
                                    <div class="col s8 right-align"><p class="card-money" style="font-size:13px;">801,000원</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col s3 m3 l3">
                        <div class="card yes">
                          <img class="checked" src="http://www.gatoblanco.co.kr/m2/board/download.php?id=cat&no=89&div=0" style="width:100%">
                            <div class="card-typo">
                                <h4 class="card-title" style="font-size:18px; font-weight:bold;">John Doe</h4>
                                <p class="card-subtitle" style="font-size:13px;">정치 | 주최자</p>
                                <div class="progress red lighten-4">
                                  <div class="determinate red" style="width: 70%"></div>
                                </div>
                                <div class="row">
                                    <div class="col s4"><p class="card-text left-align" style="font-size:13px;">09/30</p></div>
                                    <div class="col s8 right-align"><p class="card-money" style="font-size:13px;">801,000원</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col s3 m3 l3">
                        <div class="card">
                          <img class="checked" src="http://www.gatoblanco.co.kr/m2/board/download.php?id=cat&no=89&div=0" style="width:100%">
                            <div class="card-typo">
                                <h4 class="card-title" style="font-size:18px; font-weight:bold;">John Doe</h4>
                                <p class="card-subtitle" style="font-size:13px;">정치 | 주최자</p>
                                <div class="progress red lighten-4">
                                  <div class="determinate red" style="width: 70%"></div>
                                </div>
                                <div class="row">
                                    <div class="col s4"><p class="card-text left-align" style="font-size:13px;">09/30</p></div>
                                    <div class="col s8 right-align"><p class="card-money" style="font-size:13px;">801,000원</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col s3 m3 l3">
                        <div class="card">
                          <img class="checked" src="http://www.gatoblanco.co.kr/m2/board/download.php?id=cat&no=89&div=0" style="width:100%">
                            <div class="card-typo">
                                <h4 class="card-title" style="font-size:18px; font-weight:bold;">John Doe</h4>
                                <p class="card-subtitle" style="font-size:13px;">정치 | 주최자</p>
                                <div class="progress red lighten-4">
                                  <div class="determinate red" style="width: 70%"></div>
                                </div>
                                <div class="row">
                                    <div class="col s4"><p class="card-text left-align" style="font-size:13px;">09/30</p></div>
                                    <div class="col s8 right-align"><p class="card-money" style="font-size:13px;">801,000원</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
         
        <br><br><br>
        
    </body>
</html>